version: '3.7'

services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    image: app-server
    container_name: my-app-server
    command: npm run dev
    volumes:
      # bind mounting entire project folder to container for watcher detection
      - ./:/usr/app
      # node_modules gets its own volume for all containers to share
      - node_modules_app:/usr/app/node_modules
    ports:
      - "3000:3000"
    networks:
      - linkednetwork  

volumes:
    node_modules_app:

networks:
  linkednetwork: